* {
	text-decoration: none;
	color: #000;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
.wrapper-head {
	margin: 0 auto;
	max-width: 1440px;
	height: 400px;
}
.header-foto {
	background-image: url(../img/Layer1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999;
}
.head {
	margin: 0 auto;
	width: auto;
	height: 400px;
	display: flex;
}
.header-social {
	width: 350px;
	height: 210px;
    margin: auto 5px;
}
.logo {
	margin: auto 5px;
}
.header-text {
	text-align: center;
	width: 100%;
	padding: 0 25px;
	margin-top: auto;
}
.help-text p {
	font-size: 24px;
	color: #fff;
}
.office p {
	color: #fff;
}
.header-phone a {
	display: flex;
	height: 50px;
}
.header-phone p:hover {
	color: #c99659;
}
.header-phone a img {
	margin: auto 0;
}
.header-phone a p {
	width: 100%;
    text-align: center;	
	color: #fff;
}
.header-mail {
	padding: 20px 0;
}
.header-mail a {
	display: flex;
	height: 50px;
}
.header-mail p:hover {
	color: #c99659;
}
.header-mail a img {
	margin: auto 0;
}
.header-mail a p {
	margin: auto;
	color: #fff;
}
.header-button {
	border: 1.5px solid #fff;
	border-radius: 25px;
	text-align: center;
	height: auto;
}
.header-button p {
	font-size: 24px;
	margin: 0;
	padding: 7px;
	width: auto;
    height: auto;
	color: #fff;
}
.header-button p:hover {
	color: #c99659;
	cursor: pointer;
}
.mobil-menu {
	display: none;
}
.menu {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100px;
	background-color: #edf0f2;
	-webkit-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 16px 0px rgba(0,0,0,0.75);
}
.menu-list {
	justify-content: center;
	margin: 0 auto;
	display: flex;
	width: auto;
	font-size: 36px;
	padding: 0;
	height: 100px;
}
.menu-list div {
	margin: auto 0;
	padding: 0 10px;
}
.menu-list div a p {
	padding: 0;
	margin: 0;
} 
.menu-list div a p:hover {
	color: #c99659;
}
.menu-list div a hr {
	margin: 0;
}
.menu-list div a hr:hover {	
}
.wrapper-footer {
	width: 100%;
	background-color: #edf0f2;
}
.footer {
	margin: 0 auto;
	max-width: 980px;
	padding: 40px 10px;
}
.partners {
	padding-bottom: 60px;
}
.partners-text p {
	font-size: 36px;
	text-align: center;
	margin: 0 0 40px 0;
}
.partners-logo {
	display: flex;
	justify-content: space-around;
}
.footer-social {
	width: 100%;
	height: 100%;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}
.social {
	padding: 0 10px;
}
.vk img {
	display: block;
	margin: auto 0;
}
.vk a {
	display: flex;
	justify-content: center;
	height: 50px;
}
.vk a p {
	padding-left: 10px;
}
.vk a p:hover {
	color: #c99659;
}
.inst {
	padding: 20px 0;
}
.inst a {
	display: flex;
	justify-content: center;
	height: 50px;
}
.inst a p {
	padding-left: 10px;
}
.inst a p:hover {
	color: #c99659;
}
.text {
	text-align: center;
}
phone {
	width: 210px;
}
.phone a {
	display: flex;
	height: 50px;
}
.phone a p {
	width: 100%;
	text-align: center;
}
.phone a p:hover {
	color: #c99659;
}
.phone a img {
	margin: auto 0;
}
.mail {
	padding: 20px 0;
	width: 210px;
}
.mail a {
	display: flex;
	height: 50px;
}
.mail a p {
	width: 100%;
	text-align: center;
}
.mail a p:hover {
	color: #c99659;
}
.mail a img {
	margin: auto 0;
}
.button-mail {
	border: 1px solid #000;
	border-radius: 25px;
	text-align: center;
	height: 50px;
}
.button-mail a {
	font-size: 24px;
	height: 50px;
}
.button-mail p:hover {
	color: #c99659;
	cursor: pointer;
}

/*send-mail*/
.send-mail {
	display: block;
}
.background-black {
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;	
}
.wrapper-mail {
	margin: auto;
	height: 500px;
	width: 500px;
	position: absolute;
	left: auto;
	top: auto;
	z-index: 1000;
	background-color: #fff;	
}

#modal_form {
	min-width: 500px; 
	min-height: 510px; 
	border-radius: 5px;
	border: 3px #edf0f2 solid;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 45%; 
	margin-top: -150px;
	margin-left: -150px;
	display: none;
	opacity: 0; 
	z-index: 5; 
	padding: 20px 10px 0 10px;
}

#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000;
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
#submit {
	background-color: #edf0f2;
	border: 1px solid #000;
	border-radius: 25px;
	width: auto;
}
#submit:hover {
	background-color: #c99659;
	color: #fff;
}
form p:last-child {
	text-align: center;
}
textarea {
	background-color: #edf0f2;
	width: 100%;
}
form p input {
	background-color: #edf0f2;
	width: 100%;
}
form p img {
	padding-right: 5px;
}

/*slider-home*/
.slider_wrap {
	width:680px;
	height:400px;
	position:relative;
	overflow:hidden;
	margin: auto 0;
}
.slider_wrap img {
	width:640px;
	height:auto;
	display:none;
	position:absolute;
	top:0;
	left:20px;	
}
.slider_wrap img:first-child {
	display:block;
}
.slider_wrap span {
	margin-top:-13px;
	width:15px;
	height:26px;
	display:block;
	position:absolute;
	top:50%;
	cursor:pointer;
	background:url(../img/slider2_arrow.png) no-repeat;
}
.slider_wrap span.next {
	right: 30px;
	background-position:-15px 0;
}
.slider_wrap span.next:hover {
	background-position:-15px -26px;
}
.slider_wrap span.prev {
	left: 30px;
	background-position: 0 0;
}
.slider_wrap span.prev:hover {
	background-position: 0 -26px;
}

/*home-content*/
.main-content {
	padding-top: 40px;
	background-color: #edf0f2;
}
.wrapper-content {
	max-width: 980px;
	width: auto;
	height: auto;
	margin: 0 auto;
}
.left-content {
	padding: 10px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 10px;
	text-align: center;
}
.left-content > p {
	font-size: 26px;
	margin: 0;
	padding-bottom: 10px;
}
.left-content > a {
	display: block;
	padding: 5px;
	color: blue;
	text-decoration: underline;
}
.left-content > a:last-child {
	font-size: 26px;
	color: #000;
}
.wrapper-top-content {
	justify-content: space-between;
	width: 100%;
	display: flex;
}
.title-content {
	padding: 20px 0;
	font-size: 26px;
	text-align: center;
}
.text-content {
	font-size: 24px;
	text-align: center;
}

/*event-content*/
.wrapper-event {
	padding-top: 40px;
	background-color: #edf0f2	
}
.event-block {
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.event-date {
	width: 220px;
	text-align: center;
	background: white;
    border-radius: 20px;
    padding: 10px;
	margin: 10px 10px;
}
.event-date > p {
	line-height: 25px;
	margin: 0 0 15px 0;
	font-size: 16px;
}
.event-date > a {
	color: blue;
	font-size: 24px;
}

/*event-about*/
.wrapper-event-about {
	max-width: 960px;
	margin: 0 auto;
}
.event-about {
	padding: 20px 20px;
	background-color: #edf0f2;
}
.event-about-block {
	display: flex;
	padding: 20px 0;
}
.event-about-block-img {
	margin: auto;
}
.event-about-block-img > img {
	max-width: 400px;
	border-radius: 10px;
}
.event-about-block-text {
	padding: 0 20px;
	margin: auto;
	font-size: 24px;
}
.event-about-gallery {
	display: flex;
	border-radius: 10px;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 600px;
    overflow: overlay;
	margin-top: 40px;
}
.event-about-gallery-foto {
	max-width: 400px;
	max-height: 250px;
	padding: 0 25px;
	overflow: hidden;
	margin: 10px;
}
.event-about-gallery-foto > img {
	
}
.event-about-gallery > a {
	background-color: #000;
	margin: 20px 20px;

}
.event-about-gallery-foto > a > img {
	max-width: 400px;
	max-height: auto;
}

/*team-content*/

